.AddRowForm{
    margin: 10px auto;
}


.FormItem{
    display: block;
    font-size: 1rem;
    margin: 0 auto 1rem auto;
    outline: none;
    padding: 10px;
    border: .9px solid #EC174F;
    transition: all .3s ease-out;
}

.FormItem:hover{
    transform: scale(1.1);
}

input.FormItem{
    border-radius: 5%;
    width:200px;
}

button.FormItem{
    border-radius: 20%;
    cursor: pointer;
    padding: 15px;
}
button.FormItem:hover{
    background-color: #EC174F;
}